/vendor
/.idea
.env
/node_modules
/public/build
/bower_components
.editorconfig
artisan.bat
/public/css
/public/js
/public/photo
/public/images/
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.project
.buildpath
/.settings
/_
